.footer {
  font-family: 'Calibri', 'Trebuchet MS', sans-serif;
  font-weight: 700;
  color: black;
  
  background-color: white;

  border: 1px solid black;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;

  max-width: 60rem;
  min-width: 50rem;
 }

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 50rem;
  border: 1px solid black;
}

.container1 {
  justify-content: space-around;
}

.container2 {
  justify-content: space-around;
}


.row1 {
  justify-content:center;
}

ul {
  list-style-type: none;
}

ul li {
  line-height: 0;
  margin: 1rem;
}

h4 {
  font-size: 2rem;
  line-height: 0;
  margin: 1rem;
}