*.pages {
    font-family: 'Courier New', Courier, monospace;
}

.pages, h1, h2, h3, h4, body {
    background-color: white;
    text-align: left;
    display:block;
    padding: 0 1rem;
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
}

img {
    float: right;
    padding: 1rem;
}
