.pages {
    background-color: pink;
    border: 1px solid black;
    text-align: left;
    display:block;
    padding: 1rem;
}

.pages p {
    font-size: 24px;
}

img {
    padding: 1rem;
    height: 30vw;
    min-width: none;
    width: auto; 
}

img:hover {
    transform: scale(0.95);   
}

#portrait {
    float: left;
}

#ironman {
    float: left;
}

#grad {
    float:right;
}

.paypal {
    /* max-width: 10rem; */
}

@media (max-width: 400px) {
    img {
        min-width: 300px;
        min-height: 300px;
    };
}