.pages {
    background-color: pink;
    border: 1px solid black;
    text-align: left;
    display:block;
    padding: 1rem;
}

.pages p {
    font-size: 18px;
}

img {
    padding: 1rem;
    height: 30vw;
    min-width: none;
    max-width: 600px;
    max-height: 600px;
}

img:hover {
    transform: scale(0.95);   
}

#portrait {
    float: left;
}

#ironman {
    float: left;
}

#grad {
    float:right;
}

.paypal {
    /* max-width: 10rem; */
}

@media (max-width: 500px) {
    img {
        width: 80vw;
        height: auto;
    };
}