.mobile-menu {
   position:absolute;
   top: 0;
   right: 0;
   width: 10rem;
   min-height: 100vh;
   background-color: white;
   padding: 1rem;
   transition-duration: 500ms;
   transition-property: ;
}
